body {
  background-color: #212529;
  color: #f8f9fa;
  font-family: Arial, sans-serif;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  background-color: #343a40;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
}

h1 {
  margin-bottom: 20px;
  color: #f8f9fa;
}

form {
  max-width: 400px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: left;
  background-color: #495057;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
  padding: 20px;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 10px;
  color: #f8f9fa;
}

select {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #f8f9fa;
  color: #212529;
}

input[type="number"] {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #f8f9fa;
  color: #212529;
}

button {
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  background-color: #007bff;
  color: #f8f9fa;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

button:hover {
  background-color: #0069d9;
}
a {
	color: #fff;
	text-decoration: none;
	padding: 10px;
	margin: 10px;
	border-radius: 5px;
}
a:hover {
	color:#0000ff;
}
#output {
  margin-top: 20px;
  font-size: 24px;
  color: #f8f9fa;
}
